import React from 'react';
import { connect } from 'react-redux';
import { counterAdd, counterReset } from './actionCreators'

class Counter extends React.Component {
  render(){
    const { count, dispatch } = this.props;
    return (
      <div className="my-component">
        <h1>Count: {count}</h1>
        <button onClick={()=>dispatch(counterAdd(1))}>Increment</button>
        <button onClick={()=>dispatch(counterReset())}>Reset</button>
      </div>
);}}

const mapStateToProps = (state) => ({
  count: state.counter
});

const ConnectedCounter = connect(
  mapStateToProps
)(Counter)
export default ConnectedCounter;
