const scheduler = store => next => action => {
  if (!action.delay) {
    return next(action);
  }

  let timeoutId = setTimeout(
    () => next(action),
    action.delay
  );

  return function cancel() {
    clearTimeout(timeoutId)
  };
}
