function counterReducer(state = 0, action) {
  switch (action.type) {
    case "COUNTER_ADD":
      return state + action.value;
    case "COUNTER_RESET":
      return 0;

    default:
      return state;
  }
}

function updateReducer(state = {}, action) {
  switch (action.type) {
    case "COUNTER_ADD":
    case "COUNTER_RESET":
      state = {
        last: action.ts,
        nb_update: state.nb_update + 1
      };
      break;
  }
  return state;
}
